*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.ucls

.classpath
.project

.settings
.vscode

!/**/src/**/bin
!/**/src/**/build

target

src/main/resources/static/sale-images

# Java related
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
