<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<!-- Those meta tags must come first -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/css/dropdown.css}">

	<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css}" type="text/css"
		rel="stylesheet">

</head>

<body>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">Promocon</a>
				
		<form class="form-inline" th:action="@{/busca}" method="GET">
			<div class="input-group">
				<input class="form-control" name="searchTerm" type="search" placeholder="O que você procura?" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
				</div>
			</div>
	    </form>

		<div sec:authorize="isAnonymous()">
			<a role="button" class="btn btn-outline-light" th:href="@{/login}">Entrar</a>
		</div>

		<div sec:authorize="isAuthenticated()">
			<a class="btn text-light" th:href="@{/promocao/publicar}">
				<i class="far fa-plus-square"></i>
				Publicar
			</a>

			<div class="dropdown" style="float:right;">
				<button class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					Olá, <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
				</button>
				<div class="dropdown-content">
					<a th:href="@{/loja/cadastro}">Cadastrar loja</a>
					<a th:href="@{/logout}">Sair</a>
				</div>
			</div>
		</div>

	</nav>
	<div id="collapsable-menu">
		<div class="row">
			<div class="col" th:each="category : ${categories}">
				<a th:text="${category.description}" th:href="@{'/categoria/' + ${category.name}}"></a>
			</div>
		</div>
	</div>

	<div layout:fragment="content">
	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

	<th:block layout:fragment="scripts">
	</th:block>

</body>

</html>