<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

	<title>Promocon - Alterar Endereço</title>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/css/layout/layout.css}">

</head>

<style>
</style>

<body>

	<div class="form-container">
		<div class="row">
			<div class="col">
				<div class="form-card">
					<form class="form needs-validation" th:action="@{'/usuario/alterar-endereco/'}"
                        role="form" method="post" th:object="${address}">
                        <div class="text-center p-2">
                            <h3>Alterar endereço</h3>
                            
                            <div class="form-group">
								<input name="rua" type="text" id="rua" class="form-control" th:field="*{street}"
									placeholder="Rua" readonly required maxlength="120">
								<div class="invalid-feedback">
									Este Campo é obrigatório!
								</div>
							</div>
							<div class="row">
								<div class="col form-group">
									<input name="cep" type="text" id="cep" value="" maxlength="9" th:field="*{zipcode}"
										onblur="pesquisacep(this.value)" class="form-control" placeholder="Cep" required>
									<div class="invalid-feedback">
										Este Campo é obrigatório!
									</div>
								</div>
								<div class="col form-group">
									<input name="numero" type="text" id="numero" class="form-control" th:field="*{number}"
										placeholder="Número" required>
									<div class="invalid-feedback">
										Este Campo é obrigatório!
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col form-group">
									<input name="bairro" type="text" id="bairro" class="form-control" th:field="*{district}"
										placeholder="Bairro" readonly required>
									<div class="invalid-feedback">
										Este Campo é obrigatório!
									</div>
								</div>
								<div class="col form-group">
									<input name="cidade" type="text" id="cidade" class="form-control" th:field="*{city}"
										placeholder="Cidade" readonly>
									<div class="invalid-feedback">
										Este Campo é obrigatório!
									</div>
								</div>
								<div class="col-2 form-group">
									<input name="uf" type="text" id="uf" class="form-control" th:field="*{stateCode}"
										placeholder="UF" readonly> 
									<div class="invalid-feedback">
										Este Campo é obrigatório!
									</div>
								</div>
							</div>
							<div style="text-align: center;">
					            <span class="group-btn">     
					                <button type="submit" class="btn btn-outline-light btn-md">Alterar</button>
					            </span>
				            </div>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/needs_validation.js}"></script>
	<script type="text/javascript" th:src="@{/js/busca_cep.js}"></script>

</body>

</html>