<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

	<title>Promocon - Login</title>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/css/layout/layout.css}">

</head>

<style>
</style>

<body>

	<div class="form-container">
		<div class="row">
			<div class="col">
				<div class="form-card">
					<div class="text-center p-2"><h3>Entrar</h3></div>
					<form class="form py-2" th:action="@{/novo-login}" role="form" method="post">
						<div class="pb-2" th:if="${error != null}">
							<span class="invalid-feedback d-block" th:text="${error}"></span>
						</div>
						
						<div class="form-group">
							<input type="text" id="username" name="username" class="form-control" placeholder="Login" />
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" class="form-control"
								placeholder="Senha" />
						</div>
						<div class="text-center">
							<span class="group-btn">
								<button type="submit" class="btn btn-outline-light btn-md">Entrar</button>
							</span>
						</div>
					</form>
					
					<div class="dropdown-divider"></div>
						
					<div class="text-center">
						<span>Não possui conta? <a th:href="@{/usuario/cadastro}">Registrar.</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>

</html>