<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

	<title>Promocon - Publicar</title>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
	<link th:rel="stylesheet" th:href="@{/css/layout/layout.css}">

</head>

<style>
</style>

<body>

	<div class="form-container">
		<div class="row">
			<div class="col">
				<div class="form-card">
					<form class="form needs-validation" th:action="@{/promocao/salvar}" role="form" method="post"
						th:object="${sale}" enctype="multipart/form-data" novalidate>
						<div class="text-center p-2">
							<h3>Publicar Promoção</h3>
						</div>
						<div th:if="${error != null}" class="invalid-feedback d-block" th:text="${error}"></div>
						<div class="form-group">
							<input type="text" id="title" th:field="*{title}" class="form-control" placeholder="Título"
								required>
							<div class="invalid-feedback">
								Este campo é obrigatório!
							</div>
						</div>
						<div class="form-group">
							<textarea id="description" th:field="*{description}" class="form-control"
								placeholder="Descrição" required></textarea>
							<div class="invalid-feedback">
								Este campo é obrigatório!
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<input id="originalPrice" th:field="*{originalPrice}" class="form-control"
										placeholder="Preço anterior" required>
									<div class="invalid-feedback">
										Este campo é obrigatório!
									</div>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<input id="salePrice" th:field="*{salePrice}" class="form-control"
										placeholder="Preço com desconto" required>
									<div class="invalid-feedback">
										Este campo é obrigatório!
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="storeSelect">Selecione a loja</label>
							<select class="form-control" th:field="*{store}" required>
								<option selected disabled th:value="${null}" th:text="${'Selecionar'}"></option>
								<optgroup label="Suas lojas">
									<option th:each="store : ${stores}"
										th:if="${store.getOwner().getUsername()} == ${#authentication.getPrincipal().getUsername()}"
										th:value="${store.id}" th:text="${store.name}">
									</option>
								</optgroup>
								<optgroup label="Outras lojas">
									<option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}">
									</option>
								</optgroup>
							</select>
							<div class="invalid-feedback">
								Este campo é obrigatório!
							</div>
						</div>
						<div class="form-group">
							<label for="storeSelect">Selecione a categoria</label>
							<select class="form-control" th:field="*{category}" required>
								<option selected th:value="${null}" th:text="${'Selecionar'}">
								<option th:each="category : ${categories}" th:value="${category}"
									th:text="${category.description}">
								</option>
							</select>
							<div class="invalid-feedback">
								Este campo é obrigatório!
							</div>
						</div>
						<div class="form-group">
							<label for="image"> Anexar imagem: </label>
							<input type="file" id="image" name="imageFile" class="form-control-file"
								accept="image/png, image/jpeg">
						</div>
						<div style="text-align: center;">
							<span class="group-btn">
								<button type="submit" class="btn btn-outline-light btn-md">Publicar</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/needs_validation.js}"></script>

</body>

</html>