<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

	<title>Promocon - Publicar</title>

	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

</head>

<style>
	html,
	body {
		height: 100%;
	}

	.form-registry {
		background-color: #EDEDED;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 15px;
		border-color: #d2d2d2;
		border-width: 5px;
		box-shadow: 0 1px 0 #cfcfcf;
	}

	.container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="form-registry">
					<form class="form" th:action="@{/promocao/salvar}" role="form" method="post" th:object="${sale}"
						enctype="multipart/form-data">
						<div class="form-group">
							<input type="text" id="title" th:field="*{title}" class="form-control" placeholder="Título"
								required>
						</div>
						<div class="form-group">
							<textarea id="description" th:field="*{description}" class="form-control"
								placeholder="Descrição" required></textarea>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<input id="originalPrice" th:field="*{originalPrice}" class="form-control"
										placeholder="Preço anterior" required>
								</div>
							</div>
							<div class="col">
								<div class="form-group">
									<input id="salePrice" th:field="*{salePrice}" class="form-control"
										placeholder="Preço com desconto" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="storeSelect">Selecione a loja</label>
							<select class="form-control" th:field="*{store}" required>
								<option disabled selected th:value="${null}" th:text="${'Selecionar'}">
								<option th:each="store : ${stores}"
									th:if="${store.getOwner().getUsername()} == ${#authentication.getPrincipal().getUsername()}"
									th:value="${store.id}" th:text="${store.name}">
								</option>
							</select>
						</div>
						<div class="form-group">
							<label for="image"> Anexar imagem: </label>
							<input type="file" id="image" name="imageFile" class="form-control-file"
								accept="image/png, image/jpeg" required>
						</div>
						<div style="text-align: center;">
							<span class="group-btn">
								<button type="submit" class="btn btn-primary btn-md">Publicar</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>

</html>