<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
	
	<title>Promocon - Cadastro</title>
		
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
	<link th:rel="stylesheet" th:href="@{/css/layout/layout.css}">
	
</head>

<style>
</style>

<body>
	<div class="form-container">
	    <div class="row">
	        <div class="col">
	            <div class="form-card">
	            	<div class="text-center p-2"><h3>Cadastro</h3></div>
	            	<form class="form needs-validation" th:action="@{/usuario/salvar}" role="form" method="post" th:object="${user}" novalidate>
		            	<div th:if="${error != null}" class="invalid-feedback d-block" th:text="${error}"></div>
		            	<div class="row">
		            		<div class="col form-group">
				            	<input type="text" id="username" th:field="*{login}" name="username" class="form-control" placeholder="Login" 
				            		required
				            		maxlength="15">
			            		<div class="invalid-feedback">
						    		Este campo é obrigatório!
						    	</div>
				            </div>
				            <div class="col form-group">
				            	<input type="password" id="password" th:field="*{password}" name="password" class="form-control" placeholder="Senha" 
				            	required
				            	maxlength="20"/>
				            	<div class="invalid-feedback">
							    	Este campo é obrigatório!
							    </div>
				            </div>
			            </div>
			            <br>
						<label>Localização</label>
						
						<div class="form-group">
							<input name="rua" type="text" id="rua" th:field="*{address.street}" class="form-control"
								placeholder="Rua" required maxlength="120">
							<div class="invalid-feedback">
								Este Campo é obrigatório!
							</div>
						</div>
						<div class="row">
							<div class="col form-group">
								<input name="cep" type="text" id="cep" th:field="*{address.zipcode}" value="" maxlength="9"
									onblur="pesquisacep(this.value)" class="form-control" placeholder="Cep" required>
								<div class="invalid-feedback">
									Este Campo é obrigatório!
								</div>
							</div>
							<div class="col form-group">
								<input name="numero" type="text" id="numero" th:field="*{address.number}" class="form-control"
									placeholder="Número" required>
								<div class="invalid-feedback">
									Este Campo é obrigatório!
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col form-group">
								<input name="bairro" type="text" id="bairro" th:field="*{address.district}" class="form-control"
									placeholder="Bairro" required>
								<div class="invalid-feedback">
									Este Campo é obrigatório!
								</div>
							</div>
							<div class="col form-group">
								<input name="cidade" type="text" id="cidade" th:field="*{address.city}" class="form-control"
									placeholder="Cidade" readonly>
								<div class="invalid-feedback">
									Este Campo é obrigatório!
								</div>
							</div>
							<div class="col-2 form-group">
								<input name="uf" type="text" id="uf" th:field="*{address.stateCode}" class="form-control"
									placeholder="UF" readonly>
								<div class="invalid-feedback">
									Este Campo é obrigatório!
								</div>
							</div>
						</div>
			            <div style="text-align: center;">
				            <span class="group-btn">     
				                <button type="submit" class="btn btn-outline-light btn-md">Cadastrar</button>
				            </span>
			            </div>
		            </form>
	            </div>
	        </div>
	    </div>
	</div>
	
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/needs_validation.js}"></script>
	<script type="text/javascript" th:src="@{/js/busca_cep.js}"></script>
		
</body>

</html>